<h2 mat-dialog-title class="text-secondary">Sobre o Programa</h2>
<mat-dialog-content class="mat-typography pb-2">
  <div style="text-align: center;">
    <h2 class="text-secondary">Autores</h2>
    <span>Felipe C. Godoi</span><br>
    <span>Guilherme R. de Melo</span><br>
    <span>Gustavo M. Kazioka</span><br>
    <span>Paulo Victor F. da Cruz</span><br>
  </div>
  <div style="text-align: center;">
    <h2 style="margin-top: 16px; margin-bottom: 0px !important;" class="text-secondary">Disciplina</h2>
    <span>Inteligência Artificial</span><br>
    <h2 style="margin-top: 16px; margin-bottom: 0px !important;" class="text-secondary">Professor</h2>
    <span>José Ricardo G. Manzan</span><br>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="btn btn-secondary" (click)="onNoClick()" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
